.navContainer {
  position: fixed;
  font-family: "Hurricane", cursive, sans-serif;
  background-image: linear-gradient(90deg, #155997, #159759);
  width: 100%;
  height: 70px;
  z-index: 10;
}
.elementNavBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.default {
  text-decoration: none;
  color: white;
}

